/* Master Styles*/
body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-wrapper > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    font-style: inherit;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Image Styles*/

.image-items-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    /*grid-template-columns: 1fr 1fr 1fr; */
}
.image-item-wrapper {
    position: relative;
}
.images-img-background {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.image-item-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.image-item-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

@media only screen and (min-width: 375px) {
    .images-img-background {
        padding-top: 30px;
        width: 100%;
    }

    .profile-content-wrapper {
        margin-top: -20px;
    }
}

/* about page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

/* footer of pages */

footer {
    position: absolute;
    bottom: 0;
  
    background-color:black;
    width: 100vw;
    height: 12.5rem;

    
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color:black;
    width: 100vw;
    height: 40%;
}

.footer-wrapper h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    padding-top: 80px;
    color: gray;
}

.footer-wrapper p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
    color: gray;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: burlywood;
}

.socials a {
    font-size: 1.1rem;
}

.socials a:hover {
    color: aqua;
}

.footer-bottom {
    background-color:black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding-top: 60px;
    color: gray;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: burlywood;
}